<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoslynPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RoslynPad.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoslynPad.Properties.Settings>
            <setting name="SendErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatestVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowBounds" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="DockLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Minimized</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DocumentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchFileContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchUsingRegex" serializeAs="String">
                <value>False</value>
            </setting>
        </RoslynPad.Properties.Settings>
        <RoslynPad.UI.Properties.Settings>
            <setting name="SendErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatestVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowBounds" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="DockLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Minimized</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DocumentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchFileContents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchUsingRegex" serializeAs="String">
                <value>False</value>
            </setting>
        </RoslynPad.UI.Properties.Settings>
    </userSettings>
</configuration>