<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RoslynPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="InstrumentationKey" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RoslynPad.Properties.Settings>
      <setting name="SendErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LatestVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowBounds" serializeAs="String">
        <value>0,0,0,0</value>
      </setting>
      <setting name="DockLayout" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Minimized</value>
      </setting>
      <setting name="EditorFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="DocumentPath" serializeAs="String">
        <value />
      </setting>
    </RoslynPad.Properties.Settings>
  </userSettings>
</configuration>
