name: Build

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Setup .NET (current)
      uses: actions/setup-dotnet@v4
    - name: Build with dotnet
      run: dotnet build -bl -c release -m:1
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: logs
        path: |
          **/*.binlog
